// test test test
//- console.log('test1')
- debugger;
// test test test

ul
  each val in [1, 2, 3, 4, 5]
    tr
      //- console.log(val, val*2)
      - debugger
      td= id + val
      td= name





- console.log(555)
- var i = 1
//- if (i == 1) console.log("test")
- i++
- if (i == 2) debugger
